<h2 class="title-sign-up">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class: "label-input" %><br />
    <%= f.text_field :name, autofocus: true, class: "email-input" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "label-input" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "label-input" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "pass-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label-input" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "pass-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn-log-in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
