<div class="header-payments">
  <a class="back-button" href="<%= categories_path(@category) %>">
      <img class="back-icon" src="<%= asset_path('back.png') %>" alt="back-icon">
  </a>

  <h2 class="title-payments">Payments</h2>

</div>

<div class="individual-category-container">
  <h2 class="category-name-individual"><%= @category.name %></h2>
  <p class="category-amount-individual">$<%= @category.total_amount %></p>
</div>

<div class="categories">

    <% @payments.each do |payment| %>

      <div class="container-category">
        <p class="payment-name"><%= payment.name %></p>
        <p class="payment-amount">$<%= payment.amount %></p>
      </div>
      
    <% end %>
    </div>

  <div class="add-payment-btn-cont">
  <a class="add-payment-a" href="<%= new_category_payment_path(@category) %>">
    <button class="add-payment-btn">Add a New Payment</button>
  </a>
  </div>
</div>