<div class="container">

<div class="main-title-contaienr">
  <h2 class="main-title">Categories</h2>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn-log-out" %>
</div>

<div class="categories">
  <% @categories.each do |category| %>

    <a href="<%= category_transactions_path(category) %>" class="category-card">
      <div class="container-category">

        <div class="container-img">
          <img class="category-image" src="<%= asset_path('transaction.png') %>" alt="<%= category.name %>_image">
        </div>

        <div class="container-p">
        <p class="category-name"><%= category.name %></p>
        <p class="category-amount">$<%= category.total_amount %></p>
        </div>

      </div>
    </a>
  <% end %>
</div>

<a class="add-category" href="<%= new_category_path %>">
  <button class="btn-add-category">Add a New Category</button>
</a>
 
</div>
