<div class="container">
 <div class="log-out">
 <%= button_to "Log out", destroy_user_session_path, method: :delete %>
</div>
<div class="main-title-contaienr">
  <h2 class="main-title">Categories</h2>
</div>

<ul class="categories">
  <% @categories.each do |category| %>

    <a href="<%= category_transactions_path(category) %>" class="category-link">
      <div class="container-category">

        <div class="container-img">
          <img class="category-image" src="<%= category.icon %>" alt="<%= category.name %>_image">
        </div>

        <p class="category-name"><%= category.name %></p>
      </div>
      <p class="category-amount">$<%= category.total_amount %></p>
    </a>
  <% end %>
</ul>

<a class="add-category" href="<%= new_category_path %>">
  <button class="btn-add-category">Add a New Category</button>
</a>