<div class="header-transactions">
  <a class="back-button" href="<%= categories_path(@category) %>">
      <img class="back-icon" src="<%= asset_path('back.png') %>" alt="back-icon">
  </a>

  <h2 class="title-transactions">Transactions</h2>

</div>

<div class="individual-category-container">
  <h2 class="category-name-individual"><%= @category.name %></h2>
  <p class="category-amount-individual">$<%= @category.total_amount %></p>
</div>

<div class="categories">

    <% @transactions.each do |transaction| %>

      <div class="container-category">
        <p class="transaction-name"><%= transaction.name %></p>
        <p class="transaction-amount">$<%= transaction.amount %></p>
      </div>
      
    <% end %>
    </div>

  <div class="add-transaction-btn-cont">
  <a class="add-transaction-a" href="<%= new_category_transaction_path(@category) %>">
    <button class="add-transaction-btn">Add a New Transaction</button>
  </a>
  </div>
</div>